* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  outline: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-2);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.9s, color 0.3s;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.emphasis {
  font-weight: 400;
}