@media screen and (width >=1025px) {
  #bnt-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bnt-menu {
    display: none;
  }

  .menu {
    margin-left: 0;
  }

}

@media (min-width: 344px) and (max-width:767px) {
  nav {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu {
    margin-left: 0;
  }

  #bnt-menu {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background: var(--night);
    border-radius: 5px;
  }

  .menu.show {
    display: flex;

  }

  .menu li {
    margin: 10px 0;
  }
}