@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
:root{
  --white:#fefefe;
  --gray:#7e7f7f;
  --raisin-black:#151520;
  --night:#101014;

  --font:"Roboto", sans-serif;
  --size-F-1:1.5rem;
  --size-2:3.5;
}