RewriteEngine On

# Remove ".html" from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L,QSA]

# Define URLs amigáveis
RewriteRule ^sobre$ /../#sobre
RewriteRule ^habilidades$ /../#habilidades
RewriteRule ^contato$ /../#contato
RewriteRule ^projects$ /pages/projects.html
