.contato {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contato h2 {
  color: var(--text-color);
  font-size: var(--size-F-4);
  margin: 20px;
}

.container-contato {
  display: flex;
}

.container-info-contato,
.container-form {
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-info-contato {
  color: var(--text-color);
}

.fomas-contato {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color-2);
  border-radius: 10px;
}

.fomas-contato a:hover {
  color: var(--color-1);
}

.container-info-contato a {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px;
}

.container-info-contato a i {
  margin: 5px;
}

.container-form {
  display: flex;
  align-items: center;
}

.container-form input {
  display: block;
}

.campo-nome,
.campo-email,
.campo-mensagem {
  width: 400px;
  height: 50px;
  border-bottom: 2px solid var(--color-1);
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 25px;
  color: var(--text-color);
}


.campo-submit {
  background-color: var(--color-1);
  margin: 25px;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  display: block;
  color: #FFFFFF;
}

.campo-submit:hover {
  background-color: var(--color-4);
  transition: .4s ease-in-out;
}