nav {
  background: var(--night);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  position: fixed;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.19);
  z-index: 99;
}

.linha {
  width: 40px;
  height: 5px;
  background-color: var(--chrysler-blue);
  display: block;
  margin: 5px auto;
  position: relative;
  transform-origin: center;
  transition: 0.2s;
}

button {
  background: none;
  border: none;
  padding: 3px;
}

button.ativar {
  border: none;
  background: none;
}

button.ativar .linha:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
  background-color: var(--chrysler-blue);
}

button.ativar .linha:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
  background-color: var(--chrysler-blue);
}

button.ativar .linha:nth-child(2) {
  width: 0;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.menu li a {
  display: block;
  margin-right: 60px;
  text-decoration: none;
  font-size: var(--size-F-1);
  color: var(--text);
  text-transform: capitalize;
  position: relative;
}

.menu li a:hover {
  color: var(--light);
}

.menu li a::after {
  content: ' ';
  width: 0%;
  height: 2px;
  background-color: var(--chrysler-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.menu li a:hover::after {
  width: 100%;
}

.icon {
  color: var(--light);
  cursor: pointer;
  font-size: 25px;
  padding-right: 10%;
}

/* darkmod */
body.color {
  background-color: var(--light);
}

.color nav {
  background-color: var(--gelo);
}

body.color li a {
  color: var(--cuke-blue);
}

.color .menu li a:hover {
  color: var(--night);
}

.color .menu {
  background: var(--gelo);
}

.color .icon {
  color: var(--cuke-blue);
}