@media screen and (width >=1025px) {

  #bnt-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bnt-menu {
    display: none;
  }

  .menu {
    margin-left: 0;
  }

  .color .menu {
    background: none;
  }

  .icon {
    padding-right: 0;
  }

  .container-header {
    flex-direction: column;
    padding-top: 30%;
    width: 100%;
  }

  .container-header .container-info {
    padding: 0 10% 0 10%;
    margin: 0;
    flex: 30%;

  }

  .container-header .perfil {
    padding: 0 10% 0 10%;
    margin: 0;
    flex: 40%;
  }

  .container-header .container-info h1 {
    font-size: 2.5rem;
  }

  .container-header .container-info p {
    font-size: 1rem;
  }

  .infos-pessoal {
    width: 90%;
  }

  .infos-pessoal h3,
  h4 {
    padding: 15px 0 15px 0;
  }

  .container-icons-skills {
    width: 90%;
  }

  .container-cards {
    width: 500px;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 400px;
  }

  .card .conteudo-card {
    width: 400px;
  }

  .card .tecnologias {
    width: 400px;
  }

  .botao-card {
    width: 400px;
  }

  .container-contato {
    width: 90%;
  }

  .container-info-contato,
  .container-form {
    width: 50%;
  }

  .fomas-contato {
    width: 200px;
  }

  .container-form form {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .campo-nome,
  .campo-email,
  .campo-mensagem,
  .campo-submit {
    /* width: 210px; */
    width: 100%;

  }

}

@media (min-width: 344px) and (max-width:767px) {
  nav {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-scrolled {
    background: none;
    box-shadow: none;

  }

  .menu {
    margin-left: 0;
  }

  #bnt-menu {
    display: block;
    z-index: 1;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color);
  }

  .menu.show {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
  }

  .icon {
    margin: 0;
    padding: 0;

  }

  .container-header {
    flex-direction: column;
    width: 100%;
  }

  .container-header .container-info {
    margin: 0;
    flex: 30%;

  }

  .container-header .perfil {
    padding: 0 10% 0 10%;
    margin: 0;
    margin-bottom: 10%;
    flex: 40%;
  }

  .container-header .container-info h1 {
    font-size: 2rem;
  }

  .container-header .container-info h2 {
    font-size: 1.3rem;
  }

  .container-header .container-info p {
    font-size: 0.8rem;
  }


  .infos-pessoal {
    width: 90%;
    height: auto;
  }

  .infos-pessoal h3,
  h4 {
    padding: 15px 0 15px 0;
  }

  .skills {
    width: 90%;
  }

  .container-icons-skills {
    width: 100%;
  }

  .container-cards {
    width: 330px;
    height: 460px;
    margin: 20px;
  }

  .card img {
    width: 300px;
  }

  .card .conteudo-card {
    width: 290px;
  }

  .botao-card {
    width: 300px;
    margin: 10px;
  }

  .link-projeto {
    padding: 5px;
  }

  .link-projeto span {
    font-size: var(--size-F-6);
  }

  .container-contato {
    flex-direction: column;
  }

  .container-form,
  .container-info-contato {
    height: auto;
  }

  .container-form form {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .campo-nome,
  .campo-email,
  .campo-mensagem,
  .campo-submit {
    /* width: 210px; */
    width: 100%;

  }
}