.thanks__center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thanks__center .image {
  width: 300px;
  height: 400px;
}

.thanks__center .image img {
  border-radius: 0.5rem;
  width: 100%;
}